body {
    
}

:root {
    --color-white: #ffffff;
    --color-white1: #BECAFF;
    --color-dark: #000000;
    --color-dark1: #A22B2B;
    --color-dark2: #470000;
}

.header,
.navigation_header {
    background-color:var(--color-dark2);
    height: 50px;
}

#profile {
    float: right;
    margin: 15px 30px 0;
}

.notification {
    float: right;
    margin: 16px 0 0;
}

/******************************************SIDEBAR****************************************/
#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.open {
        left: 0;
    }

#sidebar-btn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
}

#sidebar-menu {
    padding: 20px;
}

    #sidebar-menu a {
        display: block;
        color: #fff;
        padding: 10px;
    }