body {
    padding: 0;
    background-color:#dbdbdb
}

:root {
    --color-white: #ffffff;
    --color-white1: #BECAFF;
    --color-dark: #000000;
    --color-dark1: #A22B2B;
    --color-dark2: #470000;
}