body {
}

p {
    font-size: 30px;
}

.btn {
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 90px;
    margin-top: 10px;
}

    .btn:hover {
        background-color: white;
        color: black;
    }
.Grid {
    background-color: white;
}

.txtbox {
    border-radius: 20px;
    border: none;
    padding: 5px;
}

.ddl-my {
    background-color: #f5d4d2;
    border-radius: 20px;
    border: none;
    padding: 5px;
}

.conteudo{
    background-color:white;
    border-radius:20px;
    margin-top:50px;
    min-height:500px;
    max-height:500px;
}

.lbl-box {
    font-family: serif;
    font-size: 16px;
    font-weight: 500;
    color: #942828;
}