body {
}

/*ELEMENTOS***************************/
.txtbox {
    border-radius: 20px;
    border:none;
}

.btn{
    background-color:white;
    border:none;
    border-radius:10px;
}

    .btn:hover {
        background-color: white;
        color: black;
    }

#GridView1 {
    border: none;
    border-radius: 10px;
    background-color: rgba(71, 0, 0, 0.45);
}

/*ORGANIZAÇÃO*************************/
.conteudo {
    margin: 50px 0 0 200px;
}

.escopo{
    margin-top:50px;
}

/*NavBar2*/
.nav-secondary {
    background-color: rgba(71, 0, 0, 0.80);
    border-radius:20px;
    width:100%;
    height: 40px;
    text-align: center;
    margin-left: auto;
    padding:5px;
}

.item-nav{
    font-size:20px;
    margin-right:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}