body {

}

p {
    font-size: 30px;
}

.btn {
    height: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    border: none;
    color: black;
    font-size: 18px;
}

    .btn:hover {
        background-color: #903535;
        color: #808080;
    }

.Grid {
    background-color: white;
    border: none;
    color: black;

}


