body {
}


.box-p {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    height: 200px;
    width: auto;
    margin: 10px;
}

.box-vert{
    background-color:white;
    border-radius:20px;
    padding:10px;
    height:420px;
    width:auto;
    margin:10px;
}

.box-hor {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    height: 200px;
    width: 400px;
    margin: 10px;
}

.content{
    margin-top:50px;
}